/* TAG SELECTOR */

body {
    background-color: hsl(210, 46%, 95%);
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    line-height: 1.6;
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    margin: 0;
}
/* CLASS SELECTOR */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.frame {
    margin: 50px auto;
    text-align: center;
}

.left {
    display: inline-block;
}

.right {
    display: inline-block;
}

.box {
    border-radius: 10px;
    box-shadow: 5px 5px 30px hsl(0, 0%, 81%);
    display: inline-block;
    position: relative;
    margin: 0 25px 20px 0;
    text-align: left;
}

.box1 {
    background-color: hsl(263, 55%, 52%);
    color: white;
    height: 100%;
    width: 530px;
}

.quote-img {
    position: absolute;
    right: 80px;
}

.content {
    padding: 30px;
    position: relative;
}

.picture {
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    height: 32px;
    float: left;
    margin-right: 15px;
}

.picture1 {
    border-color: hsl(263, 74%, 77%);
}

.title {
    margin-top: 0;
    opacity: 0.5;
}

.text {
    clear: left;
}
.quote {
    margin-bottom: 0;
    opacity: 0.7;
}

.box2 {
    background-color: hsl(217, 19%, 35%);
    color: white;
    height: 100%;
    width: 250px;
}

.picture2 {
    border-color: hsl(216, 13%, 39%);
}

.box3 {
    background-color: white;
    color: hsl(217, 19%, 35%);
    height: 100%;
    width: 250px;
}

.picture3 {
    border-color: white;
}

.box4 {
    background-color: black;
    color: white;
    height: 100%;
    width: 530px;
}

.picture4 {
    border-color: hsl(263, 55%, 52%);
}

.box5 {
    background-color: white;
    color: hsl(217, 19%, 35%);
    height: 100%;
    width: 250px;
    margin: 0;
}

.picture5 {
    border-color: white;
}

/* MEDIA QUERY */
@media screen and (max-width: 480px) {
    .frame {
        margin: 10vw auto;
        width: 80vw;
    }

    .left {
        display: block;
    }
    
    .right {
        display: block;
    }

    .box {
        display: block;
        width: 100%;
    }
}