/* TAG SELECTOR */

body {
    background-color: hsl(210, 46%, 95%);
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    line-height: 1.6;
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    margin: 0;
}
/* CLASS SELECTOR */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.frame {
    margin: 100px auto;
    width: 1100px;
}

.left {
    display: inline-block;
    
}

.right {
    display: inline-block;
    height: 100%;
}
.box {
    border-radius: 10px;
    display: inline-block;
    position: relative;
    margin: 0 25px 20px 0;
}

.box1 {
    background-color: hsl(263, 55%, 52%);
    color: white;
    height: 100%;
    width: 530px;
}

.quote-img {
    position: absolute;
    right: 80px;
}

.content {
    padding: 30px;
    position: relative;
}

.profile {
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    height: 32px;
    float: left;
    margin-right: 15px;
}

.profile1 {
    border-color: hsl(263, 74%, 77%);
}

.title {
    margin-top: 0;
    opacity: 0.5;
}

.text {
    clear: left;
}
.quote {
    margin-bottom: 0;
    opacity: 0.7;
}

.box2 {
    background-color: hsl(217, 19%, 35%);
    color: white;
    height: 100%;
    width: 250px;
}

.profile2 {
    border-color: hsl(216, 13%, 39%);
}

.box3 {
    background-color: white;
    color: hsl(217, 19%, 35%);
    height: 100%;
    width: 250px;
}

.profile3 {
    border-color: white;
}

.box4 {
    background-color: black;
    color: white;
    height: 100%;
    width: 530px;
}

.profile4 {
    border-color: hsl(263, 55%, 52%);
}

.box5 {
    background-color: white;
    color: hsl(217, 19%, 35%);
    height: 100%;
    width: 250px;
    margin: 0;
}

.profile5 {
    border-color: white;
}